h1,
h2 {
  background-color: #f0f0f0;
  font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  text-decoration: underline;
  text-align: left;
  font-size: 18pt;
  font-weight: lighter;
  letter-spacing: 0.25em;
  display: inline-block;
}

h1 {
  font-weight: bold;
  font-size: 22pt;
}

.head {
  text-align: center;
}

body {
  background-color: white;
  color: #404040;
  font-size: 11pt;
  font-family: Georgia, Garamond, serif;
  background-image: url("https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}

a,
h1,
h2 {
  color: #a4a400;
}

abbr {
  text-decoration: underline;
}

.copyright {
  font-family: monospace;
  text-align: start;
}

.comments {
  font-style: italic;
  background-color: #ffffa8;
  margin-left: 50px;
}

ul {
  list-style-image: url("https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif");
}
