* {
  box-sizing: border-box;
}
.header {
  background-color: rgb(12, 142, 142);
  text-align: center;
  line-height: 50px;
  margin: 0;
}

h1 {
  margin: 0;
}

.menu {
  background-color: rgb(0, 22, 100);
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu_item {
  color: white;
  margin: 10px;
  border: 1px solid rgb(108, 80, 80);
  margin: 0;
  padding: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
}

.flex-item-left {
  background-color: rgb(78, 65, 65);
  padding: 10px;
  flex: 30%;
}

.flex-item-mid {
  background-color: rgb(88, 124, 124);
  padding: 10px;
  flex: 40%;
}

.flex-item-right {
  background-color: rgb(112, 131, 139);
  padding: 10px;
  flex: 30%;
}

@media (max-width: 600px) {
  .flex-item-left, .flex-item-mid {
    flex: 50%;
  }
  .flex-item-right {
      flex: 100%;
  }
}

.footer {
  background-color: rgb(18, 0, 100);
  text-align: center;
  font-size: 30px;
  color: white;
}